<h1>Show Page</h1>

<p>
  <strong>Teacher name:</strong>
  <%= @teacher.name %>
</p>
 
<p>
  <strong>Specialize:</strong>
  <%= @teacher.specialize %>
</p>
<p>
  <strong>Designation:</strong>
  <%= @teacher.designation %>
</p>
